
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/css/templatemo-snapx-photography.css">
    <link rel="stylesheet" href="/assets/css/owl.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/photo.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <title>contact</title>
    
</head>
<body>
    <nav  >
        <div class='logo_box' ><img src="/logo.png" alt=""> <strong>SENSEI</strong></div>
        <div class='searchbar'>
          
            <i class="uil uil-search"></i>
            <input type="text" placeholder='search'/></div>
        
          </nav>

          <section class="contact-us">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="section-heading text-center">
                    <h6>Contact Me</h6>
                    <h4>Don't Be Shy <em></em> to contact the <em>Photographer Now</em></h4>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="info-item">
                    <i class="fa fa-phone"></i>
                    <h4>Phone Numbers</h4>
                    <span><a href="#">+91 9341246568</a><br><a href="#">+91 9341246568</a></span>
                  </div>  
                </div>
                <div class="col-lg-4">
                  <div class="info-item">
                    <i class="fa fa-envelope"></i>
                    <h4>Email Addresses</h4>
                    <span><a href="#">adi.ee.iitd@gmail.com</a><br><a href="#">Sensei</a></span>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="info-item">
                    <i class="fa fa-map-marked"></i>
                    <h4> Location</h4>
                    <span><a href="#">IIT DELHI<br>Delhi,India</a></span>
                  </div>
                </div>
                <div class="col-lg-12">
                  <form id="contact" action="" method="post">
                    <div class="row">
                      <div class="col-lg-6">
                        <fieldset>
                          <input type="text" name="name" id="name" placeholder="Your Name..." autocomplete="on" required>
                        </fieldset>
                      </div>
                      <div class="col-lg-6">
                        <fieldset>
                          <input type="number" name="phone" id="telephone" placeholder="Your Telephone..." autocomplete="on">
                        </fieldset>
                      </div>
                      <div class="col-lg-6">
                        <fieldset>
                          <input type="email" name="email" id="email" placeholder="Your E-mail..." >
                        </fieldset>
                      </div>
                      <div class="col-lg-6">
                        <fieldset>
                          <input type="text" name="subject" id="subject" placeholder="Subject..." autocomplete="on" >
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <textarea name="body" id="body" placeholder="Your Message" required></textarea>
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <button type="submit" id="form-submit" class="orange-button">Send Message Now</button>
                        </fieldset>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>
        
          <footer>
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <p>Copyright © 2024 <a href="#">SENSEI</a>Ltd. All rights reserved. 
                  
                 
                </div>
              </div>
            </div>
          </footer>
          <script>
            document.getElementById('contact').addEventListener('submit', function(event) {
              event.preventDefault(); // Prevent form submission
        
              // Get form data
              const formData = new FormData(this);
        
              // Convert formData to JSON
              const formDataJSON = {};
              formData.forEach((value, key) => formDataJSON[key] = value);
        
              // Make API request
              fetch('/msg', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(formDataJSON)
              })
              .then(response => {
                if (response.ok) {
                  alert('Message sent successfully!');
                  // Optionally, clear form fields
                  this.reset();
                } else {
                  throw Error(response.json)
                  alert('Failed to send message. Please try again later.');
                }
              })
              .catch(error => {
                console.error('Error:', error);
                alert('Failed to send message. Please try again later.');
              });
            });
          </script>
          <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

  <script src="/assets/js/isotope.min.js"></script>
  <script src="/assets/js/owl-carousel.js"></script>
  
  <script src="/assets/js/tabs.js"></script>
  <script src="/assets/js/popup.js"></script>
 

    
</body>
</html>